@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para asegurar que se vea bien aunque falle algo */
:root {
  --rosa-suave: #fce4ec;
  --verde-flor: #1b4332;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8fafc;
}